# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data (keep README)
data/raw/*
data/processed/*
!data/README.md

# Models
models/

# VS Code settings
.vscode/
